* {
  -iwi-base-background-color: #B1F1ED;
  -iwi-separator-color: #FD7C6F;

  -iwi-base-text-fill-color: #FD7C6F;
  -iwi-textfield-background-color: white;
  -iwi-textfield-border-color: #11CDDE;
  -iwi-text-input-color: #3197E9;

  -iwi-button-selected-color: #11CDDE;

  -iwi-menu-border-color: #FD7C6F;
  -iwi-menu-separator-color: #FD7C6F;
  -iwi-menu-background-color: #B1F1ED;
  -iwi-menu-selected-background-color: #11CDDE;
  -iwi-menu-text-fill-color: #FD7C6F;
}

#mainPane {
  -fx-background-color: -iwi-base-background-color;
}

.separator .line {
  -fx-border-color: -iwi-separator-color;
  -fx-border-width: 2;
  -fx-border-radius: 10;
}

 /** #### BUTTON #### */
.button {
  -fx-text-fill: -iwi-base-text-fill-color;
  -fx-font: normal 15 Langdon;
  -fx-background-color: transparent;
  -fx-background-radius: 20;
  -fx-border-width: 3px;
  -fx-border-style: solid;
  -fx-border-color: -iwi-menu-border-color;
  -fx-border-radius: 10;
}

.button:hover {
  -fx-background-color: -iwi-button-selected-color;
  -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.7) , 10,0,0,1 );
}

 /** #### MENU BAR #### */
.menu-bar {
  -fx-background-color: transparent;
}

.menu-button {
  -fx-background-color: transparent;
  -fx-background-radius: 20;
  -fx-border-width: 3px;
  -fx-border-style: solid;
  -fx-border-color: -iwi-menu-border-color;
  -fx-border-radius: 10;
  -fx-text-fill: -iwi-menu-text-fill-color;
}

.menu-bar .menu-button:hover, .menu-bar .menu-button:focused, .menu-bar .menu-button:showing {
  -fx-background-color: -iwi-menu-selected-background-color;
  -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.7) , 10,0,0,1 );
}

.context-menu {
  -fx-background-color: -iwi-menu-background-color;
  -fx-background-radius: 20;
  -fx-border-width: 3px;
  -fx-border-style: solid;
  -fx-border-color: -iwi-menu-border-color;
  -fx-border-radius: 10;
}

.menu-item {
  -fx-background-color: -iwi-menu-background-color;
  -fx-text-fill: -iwi-menu-text-fill-color;
}

.menu-item:hover, .menu-item:focused, .menu-item:showing {
  -fx-background-color: -iwi-menu-selected-background-color;
  -fx-text-fill: -iwi-menu-text-fill-color;
}

.context-menu > * > .separator > .line {
  -fx-border-color: -iwi-menu-separator-color;
  -fx-border-width: 1;
}

#pin {
  -fx-background-color: transparent;
  -fx-border-color: transparent;
  -fx-border-width: 0;
}

#pin > .label {
  -fx-graphic: url("../images/pin.png");
}

#pin .accelerator-text {
  -fx-graphic: none;
}

 /** #### LABEL #### */
.label {
  -fx-text-fill: -iwi-base-text-fill-color;
  -fx-font: normal 15 Langdon;
}

 /** #### TEXT FIELDS #### */
.text-field, .text-area {
  -fx-background-color: -iwi-textfield-background-color;
  -fx-border-color: -iwi-textfield-border-color;
  -fx-text-fill: -iwi-text-input-color;
}

.text-field:focused, .text-area:focused  {
  -fx-border-width: 3px;
  -fx-border-style: solid;
  -fx-border-color: -iwi-textfield-border-color;
  -fx-text-fill: -iwi-text-input-color;
}

 /** #### SCROLL BAR #### */
.scroll-bar {
  -fx-background-color: transparent;
  -fx-border-color: -iwi-textfield-border-color;
  -fx-background-radius: 2em;
  -fx-border-radius:2em;
}

.thumb {
  -fx-background-color: -iwi-textfield-border-color;
  -fx-border-color: -iwi-textfield-border-color;
  -fx-background-radius: 2em;
  -fx-border-radius:2em;
}

.increment-button, .decrement-button {
  -fx-background-color:transparent;
  -fx-background-radius: 2em;
}

.increment-arrow, .decrement-arrow {
  -fx-border-color: -iwi-textfield-border-color
}
